---
import MainLayout from "@/layouts/MainLayout.astro";
import type { CartItem } from "@/interfaces";
import { actions } from "astro:actions";
import { Formatter } from "@/utils";

const { data: products, error } = await Astro.callAction(
  actions.loadProductsFromCart,
  {},
);

if (error || !products) {
  return Astro.redirect("/");
}

const total = products.reduce(
  (acc, product) => acc + product.price * product.quantity,
  0,
);
---

<MainLayout>
  <h1 class="text-3xl">Cart</h1>

  <section class="grid grid-cols-1 sm:grid-cols-2">
    <div class="order-2 sm:order-1">
      {
        products.map(
          ({ image, title, slug, price, size, quantity, productId }) => (
            <div class="flex gap-5 mt-5 mx-5 text-gray-600 text-[15px]">
              <img src={image} alt={title} class="w-24 h-24 object-cover" />
              <div>
                <a
                  href={`/products/${slug}`}
                  class="hover:underline text-black"
                >
                  {title}
                </a>
                <p>${price}</p>
                <p>
                  Size: <span class="font-bold">{size}</span>{" "}
                </p>
                <span class="flex justify-between">
                  <p>
                    Quantity:
                    <select
                      name="quantity"
                      id="quantity"
                      data-id={productId}
                      data-size={size}
                      class="select-quantity"
                    >
                      <option value="1" selected={quantity === 1}>
                        1
                      </option>
                      <option value="2" selected={quantity === 2}>
                        2
                      </option>
                      <option value="3" selected={quantity === 3}>
                        3
                      </option>
                      <option value="4" selected={quantity === 4}>
                        4
                      </option>
                      <option value="5" selected={quantity === 5}>
                        5
                      </option>
                    </select>
                  </p>
                  <button
                    data-id={productId}
                    data-size={size}
                    class="btn-delete cursor-pointer underline underline-offset-4 hover:text-black transition-colors duration-300 "
                  >
                    Remove
                  </button>
                </span>
              </div>
            </div>
          ),
        )
      }
    </div>
    <div
      class="bg-white h-[330px] border-2 border-gray-300 text-black p-6 rounded-lg shadow-xl order-1"
    >
      <h2 class="text-lg! font-semibold mb-4">Order Summary</h2>

      <div class="flex justify-between text-gray-800 mb-2">
        <span>Shipping</span>
        <span>Free</span>
      </div>

      <div class="flex justify-between text-gray-800 mb-4">
        <span>SubTotal </span>
        <span>{Formatter.currency(total)}</span>
      </div>
      <div class="flex justify-between text-gray-800 mb-4">
        <span>Sales Tax </span>
        <span>{Formatter.currency(total * 0.15)}</span>
      </div>

      <div class="flex justify-between text-xl! font-bold">
        <span>Total</span>
        <span>{Formatter.currency(total * 1.15)}</span>
      </div>

      <button
        class="mt-10 w-full bg-blue-700 text-white py-3 rounded-lg hover:bg-blue-800 transition-all cursor-pointer"
      >
        Buy
      </button>
    </div>
  </section>
</MainLayout>

<script>
  import { itemsInCart } from "@/store/cart.store.";
  import { CartCookiesClient } from "@/utils";
  import { navigate } from "astro:transitions/client";
  document.addEventListener("astro:page-load", () => {
    const deleteButtons: NodeListOf<HTMLButtonElement> =
      document.querySelectorAll(".btn-delete");

    deleteButtons.forEach((button) => {
      button.addEventListener("click", (event) => {
        const target = event.target as HTMLButtonElement;
        const productId = target.dataset.id ?? " ";
        const size = target.dataset.size ?? " ";

        const cart = CartCookiesClient.removeItem(productId, size);
        itemsInCart.set(cart.length);

        // temporal
        navigate("/cart");
      });
    });

    const quantitySelects: NodeListOf<HTMLSelectElement> =
      document.querySelectorAll(".select-quantity");

    quantitySelects.forEach((select) => {
      select.addEventListener("change", (event) => {
        const target = event.target as HTMLSelectElement;
        const productId = target.dataset.id ?? "";
        const size = target.dataset.size ?? "";
        const quantity = parseInt(target.value);

        const cart = CartCookiesClient.updateQuantity(
          productId,
          size,
          quantity,
        );
        itemsInCart.set(cart.length);

        navigate("/cart");
      });
    });
  });
</script>
